.container-1{
    display: flex;
    background: white;  
    position: fixed;
    width: 100%;
    top: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    
}
.container-2{
    display: flex;
    width: 100%;
    padding-left: 0px;
    align-content: space-around;
    padding-bottom: 50px;
}
.container-3{
    display: flex;
    background:seashell;
}
.sec-section-1{
    flex-grow: 1;
    width: 50%;
    padding: 20px;
}

.sec-section-2{
    flex-grow: 1;
    width: 40%;
    padding:20px;
    flex-direction: column;
    display: flex;
}
.container-4{
    display: flex;
    overflow: hidden;
}
.container-5{
    display: flex;
    background: white;
    height:50px;  
    position: relative;
    width: 100%;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer{
    justify-content: space-around;
    margin-left: 300px;
    padding-left: 150px;
}
