.head{
    width:27%;
    margin-top: 0px;
    clear: both;
    padding-left: 0px;
}

.nav-items{
    width: 73%;
}
.logo{
    border-right: 1px solid #eee;
    margin-top: 0px;
    margin-bottom: 10px;
}
.section-1, .section-2, .section-3{
    flex: 1;
    padding-left: 20px;
    padding-top: 130px;
}
.image{
    width: 100%;
}
.section-1 h2:hover{
    color: #1abc9c;
}

.section-1 h2{
    font-family: cursive;
    color: black;
    padding-left: 50px;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
}
.image-1{
    width: 750px;
    height: 550px;
}

.thr-section-1{
    flex-grow: 1;
    background: url(../img/bk-1.jpg);
}

.thr-section-2{
    flex-grow: 1;
    background: url(../img/bk-3.jpg);
}

.thr-section-3{
    flex-grow: 1;
    background: url(../img/bk-4.jpg);
}

.describe{
    font-family: cursive;
    color: azure;
    padding-left: 50px;
    letter-spacing: 0.5px;
    font-size: 15px;
    /* text-transform: uppercase; */
}

#decorate{
    font-family: cursive;
    color: black;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

.title-img{
    padding-left: 180px;
}



.descriptive-image{
    margin: auto;
    width: 100%;
}


a i{
    color: black;
    width: 10%;
}

.footer a{
  padding: 0px;
  float:none;
}

.footer ul{
    display: inline;
}