@media(max-width: 1330px){

    .container-1{
        flex-direction: column;
    }
    .head{
        text-align: center;
        width: 100%;
    }

    .nav-items{
        width:100%;
    }

    .container-2{
        margin-top: 80px;
        display: block; 
    }
}
  @media(max-width: 1024px){

    .container-3{
        flex-direction: column;

    }

    .sec-section-1,.sec-section-2{
        width: 100%;
        text-align: center;
    }
} 
@media(max-width: 440px){
    .container-2{
        flex-direction: column;
        display: block;
    }
}